@keyframes button_hover_effect {
    60% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

header {
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

header .container {
    padding: 30px 0;

    border-bottom: 1px solid var(--white);
}

.align-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.align-container .logo span {
    color: var(--white);
    font-weight: 500;
    font-size: 1.5rem;
}

.align-container .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.align-container .buttons button {
    height: 35px;
    width: 130px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border: none;
    border-radius: 2px;

    background-color: var(--white-opacity-2);

    color: var(--white);
    font-size: 1.1rem;
    font-weight: 500;

    cursor: pointer;
}

.align-container .buttons button:hover {
    animation: button_hover_effect 0.2s ease-out;
}

.align-container .buttons button svg {
    height: 25px;
    width: 25px;

    fill: var(--white);
}
