@keyframes smooth_modal_show {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

#modal_settings {
    position: absolute;
    z-index: 200;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: none;
    align-items: center;
    justify-content: center;
}

#modal_settings.show_modal {
    display: flex;
}

#modal_settings.show_modal .modal__wrapper {
    animation: smooth_modal_show 0.3s ease-in;
    opacity: 1;
}

.close_shroud {
    background-color: var(--black-opacity-5);

    position: absolute;
    z-index: 201;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.close_shroud .hint {
    color: white;
    padding-bottom: 20px;
}

.modal__wrapper {
    width: 400px;
    min-height: 200px;

    background-color: var(--white);

    z-index: 220;
    opacity: 0;

    border-radius: 5px;

    padding: 25px;
}

.modal__wrapper form {
    width: 100%;
}

.modal__wrapper form section:not(:last-child) {
    padding-bottom: 25px;
    border-bottom: 1px solid gray;
}

.modal__wrapper form section:not(:first-child) {
    margin-top: 30px;
}

.modal__wrapper form h2 {
    text-align: center;
    margin-bottom: 30px;
}

.modal_block {
    width: 100%;
    margin-bottom: 20px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;

    gap: 10px;
}

.modal_block h3 {
    margin-bottom: 5px;
}

.entity__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 20px;
    width: 100%;
}

.entity__wrapper label {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    gap: 5px;
}

.entity__wrapper label input,
.entity__wrapper label #select_list {
    width: 100%;

    outline: none;
    border: 1px solid var(--header-text-color);
    border-radius: 2px;

    padding: 2px 10px;

    font-size: 1.2rem;

    background-color: var(--white);

    position: relative;
}

.entity__wrapper label input[type="color"] {
    padding: 0;
    height: 30px;
}

#select_list svg {
    position: absolute;
    right: 10px;
    top: 7px;
    transform: rotate(180deg) scale(0.8);

    pointer-events: none;
    user-select: none;
}

#select_list span {
    user-select: none;
}

#select_list svg:has(+ .options.show_options) {
    transform: scale(0.8);
    top: 5px;
}

#select_list .options {
    width: 101%;

    position: absolute;
    bottom: 0;
    left: -1px;
    z-index: 2002;

    transform: translateY(100%);

    border: 1px solid var(--header-text-color);
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#select_list .options {
    max-height: 86px;
    overflow-y: scroll;

    display: none;
}

#select_list .options.show_options {
    display: flex;
}

#select_list .options .option,
#select_list .options .option span {
    width: 100%;
}

#select_list .options .option span {
    pointer-events: none;
    user-select: none;
}

#select_list .options .option {
    background-color: var(--options-color);
    padding: 2px 0;
}

#select_list .options .option:hover {
    background-color: var(--white);
}

#select_list .options .option span {
    padding: 0 10px;
}
