@import "fonts.css";
@import "variables.css";
@import "./_header.css";
@import "./_main.css";
@import "./_modal.css";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

p,
a,
span,
button,
label,
input {
    font-family: Inter, sans-serif;
    font-weight: 400;
}

h1,
h2,
h3 {
    font-family: Inter, sans-serif;
    font-weight: 700;
    color: var(--header-text-color);
}

main {
    margin: 50px 0;
}

.container {
    width: 700px;

    margin: 0 auto;
}
