:root {
    --white: #fff;
    --black: #000;

    --black-opacity-5: rgba(0, 0, 0, 0.5);
    --white-opacity-7: rgba(255, 255, 255, 0.7);
    --white-opacity-4: rgba(255, 255, 255, 0.4);
    --white-opacity-3: rgba(255, 255, 255, 0.3);
    --white-opacity-2: rgba(255, 255, 255, 0.2);

    --header-text-color: #3f3f3f;

    --options-color: #ececec;
}
